[build-system]
requires = ["setuptools>=74", "setuptools-scm>=8"]
build-backend = "setuptools.build_meta"

[project]
name = "bouillon"
authors = [
    {name= 'Janus Heide', email = "janusheide@gmail.com"}
]
description = "Tool for managing machine learning model and service projects and other fast paced python projects."
dynamic = ["version"]
readme = "README.rst"

classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Build Tools",
    "License :: OSI Approved :: BSD License",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    'Topic :: Utilities',
    'Topic :: Scientific/Engineering :: Information Analysis',
]

dependencies = []

[project.optional-dependencies]
test = [
    "pytest==8.3.3",
    "pytest-cov==5.0.0",
]

dev = [
    "bouillon[test]",
    "build==1.2.2",
    "isort==5.13.2",
    "liccheck==0.9.2",
    "mypy==1.11.2",
    "ruff==0.6.5",
    "semver==3.0.2",
    "setuptools-scm==8.1.0",
    "twine==5.1.1",
    "uppd==0.2.0",
]

keywords=["building", "maintenance", "utility"]

[project.urls]
Homepage = "https://github.com/janusheide/bouillon"
Repository = "https://github.com/janusheide/bouillon"

[[tool.mypy.overrides]]
module = "bouillon"
warn_return_any = true
disallow_untyped_defs = true

[tool.isort]
multi_line_output = 5
include_trailing_comma = "True"

[tool.liccheck]
authorized_licenses = [
    "apache",
    "apache software",
    "apache software license",
    "apache 2.0",
    "apache license 2.0",
    "bsd",
    "bsd license",
    "BSD-3-Clause",
    "new bsd",
    "new bsd license",
    "simplified bsd",
    "gnu lgpl",
    "lgpl",
    "ISC",
    "mit",
    "mit license",
    "Mozilla Public License 2.0 (MPL 2.0)",
    "python software foundation",
    "psf",
]
unauthorized_licenses = [
    "gpl",
    "gpl v3",
]
dependencies = true # load [project.dependencies]
optional_dependencies = ["test", "dev"] # load extras from [project.optional-dependencies]

[tool.liccheck.authorized_packages]
PrintDebug = "*"
filelock = "*"

[tool.pytest.ini_options]
asyncio_mode = "auto"
asyncio_default_fixture_loop_scope = "module"
#TODO configure pytest_cov here when support for submodule config is added
# addopts = "--cov=bouillon --cov-report term-missing --cov-fail-under=85 --durations=5 -vv"

[tool.setuptools_scm]
